*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* =================== */
/* Nav Start */
/* =================== */
.logo{
    align-items: center;
    width: 150px;
   
}

.nav-button{
   background-color: rgb(14, 49, 131);
   border: none;
    color: rgb(253, 253, 253);
    padding: 8px 20px;
    border-radius: 10px;
    width: 130px;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    transition: 0.3s all ease;
    border: 2px solid rgb(14, 49, 131);
}
.nav-button:hover{ color:rgb(14, 49, 131);
background: transparent;
border: 2px solid rgb(14, 49, 131);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding: 15px;
}
header{
    background-color: white;

}

ul{
     display: flex;
    list-style: none;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}
ul li a{
padding: 6px 14px;
border-radius: 8px;
text-decoration: none;
color: black;
width: 50px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size:larger;
transition: 0.3s all ease;
}
ul li a:hover{
    color:  rgb(14, 49, 131) ;
}
#hamburger{
    display: none;
}
/* =================== */
/* Nav end */
/* =================== */
/* Nav respobsive */
/* =================== */
@media screen and (max-width: 992px){
#hamburger{
    display: block;
    font-size: 1.5rem;
}
.nav-button{
   display: none;
}
ul li a{
    display: none;
}
.logo{
    width: 120px;
}
}
/* =================== */
/* Hero Start */
/* =================== */
.hero-image{
    width: 50%;
  inset: 0;
    .rs{
        width: 100%;
    }
    
}
.hero{
display: flex;
  position: relative;
align-items: center;
justify-content: center;
 background-color: rgb(0, 0, 40);
}

.hero-content{
display: flex;
flex-direction: column;
width: 50%;
gap: 35px;
padding: 30px;
}
.hero-content h1{
    
    text-align: left;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 50px;
    color: white;
    width: 80%;
}
.hero-content p{
    color: rgb(183, 183, 236);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    width: 70%;
    font-size:20px;
}

.hero-content .hero-button{
   background-color: rgb(255, 255, 255);
    color:  rgb(14, 49, 131);
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 125px;
    font-weight: 500;
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.3s all ease;
}
.hero-content .hero-button:hover{
       color: rgb(255, 255, 255) ;
       background-color: rgb(14, 49, 131);
    }
.hero-content .hero-button-div{
    display: flex;
    gap: 15px;
}

.fbt{
    margin-right: 25px;
}
/* =================== */
/* Hero End */
/* =================== */
/* Hero Responsive */
/* =================== */
@media screen and (max-width: 992px){
    .hero{
        flex-direction: column;
    }
    .hero-image{
        width: 100%;
    }
    .hero-content{
        width: 100%;
        align-items: center;
    }
    .hero-content h1{
        text-align: center;
        font-size: 46px;
    }
    .hero-content p{
        text-align: center;
    }
}
/* =================== */
/* About Us Start */
/* =================== */
.aboutUs-heading{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 70px;
       h1{
        font-weight: bold;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        margin-top: 20px;
         }  
       }
    .aboutUs-p{
 color: rgb(67, 67, 97);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
   font-weight: 20px;
    font-size:25px;
    }
.aboutUs{
    max-width: 1200px;
   margin: 0 auto;
   background-color:rgb(234, 234, 238);
       justify-content: center;
       align-items: center;
    
}
.aboutUs-firstPart{
    align-items: center;
display: flex;

}
.aboutUs-text,
.aboutUs-image{
    flex: 1;
    width: 50%;
}
.aboutUs-text{
    text-align: center;
    align-items: center;

font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;   
display: flex;
flex-direction: column;
gap: 20px; 
h2{
    width: 70%;
}
p{
    width: 70%;
}
}
.aboutUs-image img{
  width: 100%
  
}
.aboutUs-2nd-image, .aboutUs-2nd-text{
    flex: 1;
}
.aboutUs-secondPart{
    display: flex;
    margin: 0 auto;
    align-items: center;
   
}
.aboutUs-2nd-image img{
    width: 100%;

}
.aboutUs-2nd-text{
    align-items: center;
   text-align: center;
font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;   
display: flex;
flex-direction: column;
gap: 20px;
h2{
    width: 70%;
}
p{
    width: 70%;
}

}
.num1{
    color: rgb(110, 7, 7)
}
/* =================== */
/* About Us End */
/* =================== */
/* About Us Responsive */
/* =================== */
@media screen and (max-width: 992px) {
    .aboutUs-firstPart{
        flex-direction: column;

    }
    .aboutUs-secondPart{
        flex-direction: column-reverse;
    }
    .aboutUs-text,
.aboutUs-image{
    width: 100%;
}
.aboutUs-heading h1{
    font-size: 31px;
}
.aboutUs-heading p{
    font-size: 21px;

}
.aboutUs-text h2{
    width: 75%;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
}
.aboutUs-text p{
    width: 85%;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.aboutUs-2nd-text h2{
    width: 75%;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
}
.aboutUs-2nd-text p{
     width: 85%;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
}
/* =================== */
/* Cities Start */
/* =================== */
.cities-HandP{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 70px;
}
.cities-heading{
        font-weight: bold;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 32px;
        text-align: center;
      
        margin-top: 20px;
        


}
.cities-p{
         color: rgb(67, 67, 97);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size:25px;
}
.cards{
    display: flex;
    padding: 20px;
    justify-content: center;
      gap: 10px;
      
    .card{
        
     display: flex;
     flex-direction: column;
     gap: 50px; 
     max-width: 280px;
     width: 100%;
     position: relative;
     transition: all 0.3s ease;
     cursor: pointer;
    }
    .card:hover{
        
transform: translateY(-10px);
background-color: rgb(14, 49, 131);
box-shadow: 0 20px 0 rgba(6, 0, 194, 0.799);
border-radius: 5px;
transition: all 0.3 ease;

    }
   
    .imgs{
        width: 100%;
        filter: brightness(0.7);
        border-radius: 5px;
    }
    .card-text{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
        position: absolute;
        bottom:0;
        padding: 15px;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 7px;
       
    }
    .card-text h3{
       
        font-size: 24px;

    }
    .card-text p{
        padding: 5px;
        background-color: white ;
        color: rgb(13, 19, 57);
        font-style: initial;
       

    }
}
.card-button{
    padding: 20px;
    text-align: center;
    padding-bottom: 35px;
}
.card-button a{
    text-decoration: none;
     background: transparent;
    color:  rgb(14, 49, 131);
    padding: 10px 24px;
    cursor: pointer;
    border-radius: 5px;
    width: 125px;
    border: 2px solid rgb(14, 49, 131);
    font-weight: 500;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.3s all ease;
}
.card-button a:hover{
    background-color: rgb(14, 49, 131) ;
    color: white;
}
/* =================== */
/* Cities End */
/* =================== */
/* Cities Resposive */
/* =================== */
@media screen and (max-width: 992px){
    .cards{
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    .cities-HandP{
        padding: 45px;
    }
    .cities-p{
        width: 100%;
    }
}
/* =================== */
/* Listing Starts */
/* =================== */

.listing{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.listing-image img{
    width: 100%;
    border-radius: 10px;
    
}

.listing-heading{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
    padding-left: 50px;
    h2{
         font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        font-size: 40px;
        width: 65%
    }
    p{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        color: rgb(0, 0, 0);
        width: 46% 
    }
    span{
        color:  rgb(14, 49, 131); ;
    }
}

.packages{
    display: flex;
    width: 100%;
    align-items: stretch;
    gap: 35px;
    justify-content: center;
    padding-bottom: 35px;
}
.package{
    border: 1px solid;
    border-color: rgb(13, 19, 57);
    border-radius: 10px;
    padding: 25px;
    max-width: 325px;
    height: 100%;
    cursor: pointer;

    button{
     background-color: rgb(14, 49, 131);
    color:  white;
    padding: 10px 24px;
    cursor: pointer;
    border-radius: 10px;
    width: 176px;
    font-weight: 500;
    border: 2px solid rgb(14, 49, 131);
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.3s all ease;
    }
    button:hover{
        background-color: white;
        border: 2px solid rgb(14, 49, 131);
        color: rgb(14, 49, 131);
    }
}
.package:hover{
    transition: 0.3s all ease;
transform: translateY(-10px);
color: rgb(14, 49, 131);
}
.package-first{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
}
.package-first-p-1{
color: rgb(63, 63, 63);
font-size: medium;
}
.package-first-p-2{
    color: rgb(63, 63, 63);
font-size: medium;
margin-bottom: 15px;
}
hr{
    border-top: 1px solid;
    color: rgb(14, 49, 131, 0.18);
  margin-top: 20px;  
}
.package-second{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: medium;
    color: rgb(0, 0, 0);
    margin-bottom: 80px;
}

.package-2-first{
     display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
}
.package-2-first-p-1{
    color: rgb(63, 63, 63);
font-size: medium;
}
.package-2-first-p-2{
     color: rgb(63, 63, 63);
font-size: medium;
margin-bottom: 15px;
}
.package-2-second{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: medium;
    color: rgb(0, 0, 0);
   margin-bottom: 40px;
}

.package-3-first{
     display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
}
.package-3-first-p-1{
     color: rgb(63, 63, 63);
font-size: medium;
}
.package-3-first-p-2{
     color: rgb(63, 63, 63);
font-size: medium;
margin-bottom: 15px;
}
.package-3-second{
     margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: medium;
    color: rgb(0, 0, 0);
}
/* =================== */
/* Listing End */
/* =================== */
/* Listing Responsive */
/* =================== */
@media screen and (max-width: 992px) {
    .listing-heading{
        padding: 0;
        align-items: center;
        text-align: center;
    }
   .listing-heading h2{
    font-size: 22px;
    width: 88%;
   }
   .listing-heading p{
    font-size: 14px;
    width: 72%;
   }
    .packages{
        flex-direction: column;
        align-items: center;
    }
    .package{
        width: 70%;
    }
}
/* =================== */
/* Footer Start */
/* =================== */
 .footer{
    
    background-color: rgb(0, 0, 40);
    max-width: 1500px;
   
 }
 .footer-container{
 display: flex;
    padding: 55px;
    gap: 20px;
    align-items: center;
    justify-content: center;
 }
 .logo-text{
    width: 25%;
    display: flex;
    flex-direction: column;
 }
 .logo-text img{
        max-width: 10rem;
    }
 .logo-text p{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 13px;
        color: rgba(255, 255, 255, 0.701);
        text-align: center;
        line-height: 20px;
        width: 135px;
 }
 .rent{
    color: white;
    width: 10rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
    h3{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
    }
    h3:hover{
        color: rgb(14, 49, 131);
    }
    p{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 13px;
        color: rgba(255, 255, 255, 0.701);
    }
     p:hover{
        color: rgb(255, 234, 0);
    }
 }
 .sale{
    color: white;
    width: 10rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
    h3{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
    }
     h3:hover{
        color: rgb(14, 49, 131);
    }
    p{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 13px;
        color: rgba(255, 255, 255, 0.701);
    }
     p:hover{
        color: rgb(255, 234, 0);
    }
 }
 .our-projects{
    color: white;
    width: 10rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
    h3{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
    }
     h3:hover{
        color: rgb(14, 49, 131);
    }
    p{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 13px;
        color: rgba(255, 255, 255, 0.701);
    }
    p:hover{
        color: rgb(255, 234, 0);
    }
 }
 .ad-button{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    h3{
        color: white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 17px;
    }
    p{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 13px;
        color: rgba(255, 255, 255, 0.701);
    }
    button{
         background-color: rgb(14, 49, 131);
    color:  white;
    padding: 10px 24px;
    cursor: pointer;
    border-radius: 10px;
    width: 176px;
    font-weight: 500;
    border: 2px solid rgb(14, 49, 131);
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.3s all ease;
    }
    button:hover{
       filter: brightness(0.7);
    }
 }
.footer-hr{
   margin: 0 auto;
   width: 90%;
   color:rgba(210, 220, 244, 0.026);
}
.last-line{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 13px;
        color: rgba(255, 255, 255, 0.701);
        display: flex;
        gap: 30px;
        padding: 25px;
        cursor: pointer;
}
.end-container{
    display: inline-flex;
    
}
.footer-icons{
    align-content: center;
    display: inline-block;
}
.fa-brands{
    cursor: pointer;
    width: 30px;
}
/* =================== */
/* Footer End */
/* =================== */
/* Footer Responsive */
/* =================== */
@media screen and (max-width: 992px) {
    .footer-container{
        flex-direction: column;
        gap: 20px;
        align-items: center;
        background-color: rgb(0, 0, 40);
        text-align: center;
    }
     .logo-text{
        width: 100%;
        align-items: center;

     }
    
}


